* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  margin: 0px 0px;
}

.side_menu_div {
  width: 250px;
  text-align: left;
  margin: 0px 0px;
  background-color: #D7D5D2;
  font-size: 20px;
}

.profileBox {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  margin: 50px auto;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side_logo {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  margin: 10px 10px;
}

.logo_li {
  text-align: center;
  vertical-align: middle;
}

#menu_button {
  width: 30px;
  height: 30px;
}

#menu_button:hover {
  background-color: #4F4D4A;
}

.side_logo > li {
  text-align: center;
  padding: 10px 8px;
}

.side_menu {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  margin: 5px auto;
}

.side_menu > li {
  padding: 5px 30%;
  margin: 20px auto;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}